.center{
    background-image: url('https://cognida.ai/images/back2.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: non;
    width: auto;
    background-size: ;
}